body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff9e6; /* пастельный желтый */
}

header {
    background-color: #f9d95d; /* мягкий желтый */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #f7b731; /* пастельный оранжево-желтый */
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

article {
    background-color: #fef1b8; /* очень светлый желтый */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #f9d95d; /* мягкий желтый для заголовков */
}

footer {
    background-color: #f9d95d; /* мягкий желтый */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
